<ion-header>
    <ion-navbar text-center color="secondary">
      <ion-buttons start>
        <button ion-button *ngIf="webservice.activo()" (click)="cerrar_sesion()"><ion-icon ios="ios-exit" md="md-exit"></ion-icon></button>
      </ion-buttons>
      <ion-title>
        SaviorTech
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content text-center padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-title>
        Mediciones
      </ion-title>

    <ion-grid  >
      <ion-row >
      
          <ion-col md-6 text-left>Pulsaciones</ion-col>
          <ion-col md-6  text-left>Podometro</ion-col>
          <ion-col md-6  text-left>Fecha</ion-col>
      </ion-row>
      <ion-row *ngFor="let mediciones of userService.mediciones">
        
        <ion-col md-6 text-left>{{mediciones.pulso}}</ion-col>
        
        <ion-col md-6 text-left>{{mediciones.Podometro}}</ion-col>
        
        <ion-col md-6 text-left >{{mediciones.Fecha}}</ion-col>
      </ion-row>
              
    </ion-grid>
  </ion-content>
