
<ion-header>

  <ion-navbar color="secondary" text-center>
    <ion-title>SaviorTech</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-title text-center padding>Inicio de Sesion</ion-title>
  <ion-list>

  <ion-item>
    <ion-label floating>Correo</ion-label>
    <ion-input type="email" name="correo" [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Contraseña</ion-label>
    <ion-input type="password" name="clave" [(ngModel)]="clave"></ion-input>
  </ion-item>

</ion-list>

  <div padding text-center>
    <button ion-button round color="secondary" [disabled]="correo.length<5 || clave.length< 5"  (click)="ingresar()" >Iniciar Sesión</button>
  </div>
  <div padding text-center>
    <button round ion-button outline color="dark" (click)="recuperar()">¿Olvidaste la contraseña?</button>
    <p>¿Eres nuevo?</p>
    <button round ion-button outline color="secondary" (click)="registro()">¡Registrate!</button>
  </div>

</ion-content>
