<ion-header>

  <ion-navbar text-center color="secondary">

    <ion-buttons start>
      <button ion-button *ngIf="servicio.activo()" (click)="cerrar_sesion()"><ion-icon ios="ios-exit" md="md-exit"></ion-icon></button>
    </ion-buttons>

    <ion-title text-left>SaviorTech</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list padding>
      <img src="../../assets/imgs/hombre.png">
    <ion-title *ngFor="let perfil of servicio.perfil" padding >{{perfil.Nombre_usuario}}</ion-title>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col md-6 text-left>Email</ion-col>
      <ion-col md-6  text-left  *ngFor="let perfil of userService.perfil">{{perfil.Correo}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col md-6 text-left>Nombre</ion-col>
        <ion-col md-6  text-left *ngFor="let perfil of userService.perfil">{{perfil.Nombre}}</ion-col>
      </ion-row>
      <ion-row>
          <ion-col md-6 text-left>Apellido Paterno</ion-col>
          <ion-col md-6  text-left  *ngFor="let perfil of userService.perfil">{{perfil.Apellido_paterno}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col md-6 text-left>Apellido Materno</ion-col>
            <ion-col md-6  text-left  *ngFor="let perfil of userService.perfil">{{perfil.Apellido_materno}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col md-6 text-left>Fecha de Nacimiento</ion-col>
              <ion-col md-6  text-left  *ngFor="let perfil of userService.perfil">{{perfil.Fecha_nacimiento}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col md-6 text-left>Contacto Emergencia</ion-col>
              <ion-col md-6  text-left  *ngFor="let perfil of userService.perfil">{{perfil.Contacto_emergencia_fk}}</ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col md-6 text-left>Numero de telefono</ion-col>
              <ion-col md-6  text-left  *ngFor="let perfil of userService.perfil">{{perfil.Numero_telefono}}</ion-col>
          </ion-row>
            
  </ion-grid>
</ion-content>
