<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab2Root"  tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="qr-scanner"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="clock"></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="bluetooth"></ion-tab>
</ion-tabs>
