<ion-header>

  <ion-navbar text-center color="secondary">

    <ion-buttons start>
      <button ion-button *ngIf="webservice.activo()" (click)="cerrar_sesion()"><ion-icon ios="ios-exit" md="md-exit"></ion-icon></button>
    </ion-buttons>

    <ion-title text-left>SaviorTech</ion-title>
  </ion-navbar>
  </ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div padding>
    <ion-title text-center>Actualiza tu información</ion-title>
</div>
<ion-list>
  <ion-item>
    <ion-label stacked>Nombre</ion-label>
    <ion-input *ngFor="let info of uService.perfil" [value]=info.Nombre type="text" placeholder="ej: Moira"  name="nombre" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Apellido Paterno</ion-label>
    <ion-input *ngFor="let info of uService.perfil" [value]=info.Apellido_paterno   type="text" placeholder="ej: Salazar" name="apellidoP" [(ngModel)]="apellidoP"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Apellido Materno</ion-label>
    <ion-input *ngFor="let info of uService.perfil" [value]=info.Apellido_materno    type="text" placeholder="ej: Galaz" name="apellidoM"  [(ngModel)]="apellidoM" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  stacked>Fecha nacimiento</ion-label>
    <ion-input *ngFor="let info of uService.perfil" [value]=info.Fecha_nacimiento type="date" displayFormat="YYYY-MM-DD"  placeholder="ej: 1996-04-21" min="1930" max="2015" name="fechaN" [(ngModel)]="fechaN"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Nº Telefono</ion-label>
    <ion-input *ngFor="let info of uService.perfil" [value]=info.Numero_telefono type="text" placeholder="ej: +569123456" name="numeroT"  [(ngModel)]="numeroT" ></ion-input>
  </ion-item>
  <div text-center padding>
    <button ion-button round outline color="secondary" (click)="actualizarDato()">Guardar</button>
  </div>
</ion-list>
</ion-content>
