<ion-header>
  <ion-navbar text-center color="secondary">

    <ion-buttons start>
      <button ion-button *ngIf="webservice.activo()" (click)="cerrar_sesion()"><ion-icon ios="ios-exit" md="md-exit"></ion-icon></button>
    </ion-buttons>
    <ion-title text-left>SaviorQr</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-list>
    <ion-list-header><h1>Scanner QR</h1></ion-list-header>
    <ion-item text-center>
    <button ion-button icon-left outline color="secondary" block (click)="scan()">
    <ion-icon name="qr-scanner"></ion-icon>
      Realizar Scan
  </button>
  <button ion-button icon-left outline color="secondary" block (click)="createScan()">
    <ion-icon name="md-barcode"></ion-icon>
      Generar Scan
  </button>
    </ion-item>
    <ion-card *ngIf="createdCode">
<ngx-qrcode qrc-element-type="url" [qrc-value]="createdCode" qrc-version="8"></ngx-qrcode>
<ion-card-content>
  <p>Value {{ createdCode }}</p>
</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
