<ion-header>

  <ion-navbar color="secondary" text-left>
    <ion-title text-left>SaviorTech</ion-title>
  </ion-navbar>

</ion-header>
  <ion-content padding>
    <div padding>
      <ion-title text-center>Recuperar Contraseña</ion-title>
  </div>
  <ion-list>
    <ion-item>
      <ion-label floating>Correo</ion-label>
      <ion-input type="email" name="correo" [(ngModel)]="correo"></ion-input>
    </ion-item>
    <div text-center padding>
      <button ion-button round outline color="secondary" (click)="validar()">Solicitar</button>
    </div>
  </ion-list>
  </ion-content>
