<ion-header>
  <ion-navbar text-center color="secondary">
    <ion-buttons start>
      <button ion-button *ngIf="webService.activo()" (click)="cerrar_sesion()"><ion-icon ios="ios-exit" md="md-exit"></ion-icon></button>
    </ion-buttons>
    <ion-title>
     SaviorTech
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list padding>
    <button ion-button block (click)="startScanning()">scan</button>
    <ion-list-header>
      Paired Devices
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
      {{device.name}}
    </ion-item>
    <button ion-button block (click)="disconnect()">Disconnect</button>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>
    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
  </ion-list>
</ion-content>

