<ion-header>

  <ion-navbar color="secondary" text-left>
    <ion-title text-left>SaviorTech</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <div padding>
    <ion-title text-center>SaviorWatch</ion-title>
    <p text-center>Registrate y disfruta</p>
    <p text-center> de SaviorWatch</p>
</div>
<form #f="ngForm" (ngSubmit)="envioDato(f)">
<ion-list>
  <ion-item>
    <ion-label floating>Nombre de Usuario</ion-label>
    <ion-input type="text" name="usuario" ngModel #usuario="ngModel" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Correo</ion-label>
    <ion-input type="email" pattern="/^([\da-z_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" name="correo" ngModel #correo="ngModel" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Contraseña</ion-label>
    <ion-input type="password" name="clave" ngModel #clave="ngModel" ></ion-input>
    <a href="#">Inicio de sesion </a>
  </ion-item>
  <div text-center padding>
    <button ion-button round outline color="secondary">¡Registrame!</button>
  </div>
</ion-list>
</form>


</ion-content>
